@import url('base.css');
body{
	font-family: "Oxygen", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.7;
    color: gray;
}
.kong{
    width: 1200px;
    height: 90px;
    margin: 0 auto;
    background: pink;
}
/* banner+导航部分 */

 .tou{
	margin: 5em 0 0 0;
	display: block;
	/* background: red; */
}
.tok{
	max-width: 1060px;
    margin: 0 auto;
    margin-bottom: 1em;
    /* background: red; */
}
.tk1{
	 padding: 34px 30px;
}
.tozi_row{
	margin-left: -15px;
    margin-right: -15px;
    display: flex;
}
.zi_left{
	font-size: 24px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-weight: 600;
}
.zi_left>a{
	padding: 5px 10px;
    color: #000;
}
.zi_right{
     padding: 0 5px;
    margin: 5px 0 0 473px;

}
.zi_right li{
	padding: 0;
    margin: 0;
    display: inline;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    padding: 0 4px;
   
}
.zi_right li>a:hover{
	color: #000 !important;
    position: relative;

    border-bottom: 1px solid #66D37E;
}
/*bannertu*/
.main{
	max-width: 1060px;
    margin: 0 auto;
    margin-bottom: 1em;
    background: #fff;
}
.banner{
	width: 1060px;
	height: 500px;
	 background: #fff;
	position: relative;
}
.banpart{
	width: 967px;
	height: 100%;
	 background: #fff;
}
.banpart>li{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	
}
.banpart>li>a>img{
	width: 100%;
	height: 100%;
}
.bword3{
   position: absolute;
   right: 33%;
   top: 0 ;
   display: table;
	/* background: pink; */
    opacity: 1;
    min-height: 500px;
    z-index: 9;
}
.bword3>h1{
	margin-left: 30px;
	 margin-top: 216px;
    font-size: 30px;
    line-height: 1.3;
    /* font-weight: 300; */
}
.bword3>h2{
	margin-left: 156px;
	font-size: 18px;
    line-height: 1.5;
    margin-bottom: 30px;
}
.bword3>p{
	display: flex;
	padding: 0 10px;
	margin-left: 123px;
}
/*头部结束*/
/* 下面大图 */
.bigsex{
	padding: 6em 3em;
}
.sixk{
	width: 1006px;
	height: 1200px;
	margin-left: -15px;
    margin-right: -15px;
    display: flex;
	justify-content: space-around;
	margin-top: 20px;
	flex-wrap: wrap;
}
.sixk>li{
	width: 303px;
	height: 570px;
	/* background: red; */
}
.sixtu{
	width: 303px;
	height: 270px;
}
.sixtu>a{
	display: block;
    width: 303px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    height: 270px;
}
.sixtu>a>img{
	width: 100%;
	height: 100%;
}
.sixzi{
	position: relative;
    width: 100%;
    padding: 30px;
    float: left;
    border: 1px solid rgba(0, 0, 0, 0.05);
    transition: 0.3s;
}
.sixzi>.zi1{
      display: inline-block;
    margin-bottom: 20px;
    font-size: 14px !important;
    color: rgba(0, 0, 0, 0.3);
}
.sixzi>h3{
	font-size: 13px;
    margin-bottom: 20px;
    line-height: 1.5;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.sixzi>p{
	    margin-bottom: 20px;
}
.sixzi>.icon{
    display: flex;
    justify-content: space-around;
}
.sixzi>.icon>li{
	    margin-left: 10px;
}
.sixzi>.icon>li>a{
	    color: #66D37E;
    transition: 0.5s;
}
/*大图结束*/
.foot{
	max-width: 1060px;
    margin: 0 auto;
    margin-bottom: 1em;
    background: #fff;
    margin-top: 20px;
        padding: 6em 3em;
}
.foottop{
	    margin-left: -15px;
    margin-right: -15px;
    width: 1006px;
    min-height:217px ;
  background: #fff;
    display: flex;
    justify-content: space-around;
}
.foottop>li{
	width: 251px;
	min-height: 141px;
	background: #fff;
	margin-top: 20px;
}
.foottop>li>h4{
	margin-bottom: 15px;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
 .fh5co-footer-links li {
  padding: 0;
  margin: 0 0 10px 0;
  list-style: none;
  display: block;
}
.fh5co-footer-links li a {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}
.fh5co-footer-links li a:hover {
  text-decoration: underline;
}
.ftbottom{
	text-align: center;
	margin-left: 15px;
	margin-right: 15px;
}
.ftbottom>p{
	margin-bottom: 20px;
}
.icons{
	display: flex;
	padding: 0 374px;
}
.icons>li{
	width: 200px;
	min-height: 25px;
	margin: 0 auto;
}